.navbar {
    background-color: black;
    color: white;
}

.card{
    background-color: black;
}

.card-astro{
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-upcoming{
    margin-bottom: 10px;
}

.card-title{
    margin-top: 10px;
}

.btn-details{
    margin-bottom: 10px;
}

body {
    background-image: url('space.jpg');
    /* background-color: black; */
    background-size: cover;
}

.contact-form{
    margin-top: 40px;
}

.contact-box{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.chart {
    margin-top: 30px;
}