<header>
    <nav class="navbar navbar-expand-sm navbar-dark">
        <img src="../../static/css/logo.png" style="height: 60px; width: 60px;"></img>
        <!-- <a class="navbar-brand" href="{{ url_for('home') }}">T Minus</a> -->
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {{ 'active' if active_page == 'home' else '' }} ">
                    <a class="nav-link" href="{{ url_for('home') }}">Upcoming Launches</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'historical' else '' }}">
                    <a class="nav-link" href="{{ url_for('historical') }}">Historical Launches</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'astronauts' else '' }}">
                    <a class="nav-link" href="{{ url_for('astronauts') }}">Astronauts</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'pads' else '' }}">
                    <a class="nav-link" href="{{ url_for('pads') }}">Launch Pads</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'visuals' else '' }}">
                    <a class="nav-link" href="{{ url_for('visuals') }}">Visualize</a>
                </li>
                <li class="nav-item {{ 'active' if active_page == 'contact' else '' }}">
                    <a class="nav-link disabled" href="{{ url_for('contact') }}">Contact</a>
                </li>
            </ul>
            
        </div>
    </nav>
</header>