{% extends 'layout.html' %}

{% block content %}
    <h4>Home</h4>
    <p>Hello {{ current_user.first_name }} </p>
    <hr>
    {% if not current_user.is_authenticated %}
        <p>You must be logged in to create a post</p>
    {% else %}
        <form action="{{ url_for('home') }}" method="POST" s>
            <div class = "form-group">
                <div class="row">
                    <div class="col-md-10">
                        <input name="body_text" class="form-control" type="text" placeholder="Make a new post" />
                    </div>
                    <div class="col-md-2">
                        <input class="btn btn-info" type="submit" value="Post" />
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    <hr>
    
    <ul class="list-group">
        {% for p in posts %}
        <li class="list-group-item">
            <p>{{ p.body }}</p>
            <div>
                <span>
                    <cite>&mdash; {{ p.user.first_name }} {{ p.user.last_name }}</cite>
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock content %}