{% extends 'layout.html' %}

{% block content %}
<h4>Register</h4>
<hr />
<div class="row">
    <div class="col-6 offset-3">
        <form action="" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="user_first_name" placeholder="First Name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="user_last_name" placeholder="Last Name" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="user_email" placeholder="Email" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="user_password" placeholder="Password" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="user_confirm_password" placeholder="Confirm Password" />
            </div>
            <input type="submit" class="btn btn-info btn-block" value="Register" />
        </form>
    </div>
</div>
{% endblock content %}